<section fxLayout="column" fxLayoutAlign="center center">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="emailInput"
        >Email address
        <span *ngIf="emailInput.invalid" class="valid">*</span></label
      >
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
        ngModel
        email
        #emailInput="ngModel"
        required
      />
      <small
        *ngIf="emailInput.errors?.['email'] && emailInput.touched && emailInput.invalid"
        class="valid"
        >Email is required.</small
      >
      <br />
    </div>
    <div class="form-group">
      <label for="pwInput"
        >Password <span *ngIf="pwInput.invalid" class="valid">*</span></label
      >
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        #pwInput="ngModel"
        ngModel
        name="password"
        required
        minlength="6"
      />
      <small
        *ngIf="pwInput.invalid && (pwInput.dirty || pwInput.touched)"
        [ngClass]="{ valid: pwInput.touched && pwInput.invalid }"
        >Password must be at least 6 characters long.</small
      >
    </div>
    <br />
    <div fxLayoutAlign="space-between center">
      <button type="submit" class="btn btn-secondary" [disabled]="f.invalid">
        Login
      </button>
      <button type="button" routerLink="/signup" class="btn">
        <i class="bi bi-person-plus"></i>
      </button>
    </div>
  </form>
</section>
