<section fxLayout="column" fxLayoutAlign="center center">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
        ngModel
        email
        #emailInput="ngModel"
        required
      />
      <br />
    </div>
    <div class="form-group">
      <label for="pwInput">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        #pwInput="ngModel"
        ngModel
        name="password"
        required
        minlength="6"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary" [disabled]="f.invalid">
      Signup
    </button>
  </form>
</section>
